<h1>Login</h1>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <strong><%= flash[:error] %></strong>
  </div>
<% end %>

<%= form_tag '/login' do %> 
       
  <div> Email: <%= text_field_tag :email %> </div>
  <div> Password: <%= password_field_tag :password %> </div>
  <%= submit_tag "Login" %>

<% end %>

<div style="margin-top: 20px;">
  <%= link_to "Signup", '/signup' %> |
  <%= link_to "Continue as Guest", root_path %>
</div>