<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <strong><%= product.name %></strong>
    <p><%= product.description %></p>
  </td>
  <td>
  <p>Quantity: <%= line_item.quantity %></p>
  <p>Price: <%= humanized_money_with_symbol line_item.item_price %></p>
  <p>Total: <%= humanized_money_with_symbol line_item.total_price %></p>
</td>
</tr>
