<tr>
  <td>
    <%=product.image.tiny.url %>
  </td>
  <td>
    <strong><%=product.name %></strong>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.item_price %>
  </td>
  <td>
    <%= product.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.total_price %>
  </td>
  <%=  @order.email %>
</tr>
